<!DOCTYPE html>

<html>
<head>
    <title>My Razor App</title>
    <link rel="stylesheet" href="css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="/MyRazorApp.styles.css" asp-append-version="true">
</head>
<body>
<header>
    <partial name="NavMenuPartial"/>    
</header>
<main>
    @RenderBody()
</main>

<footer>Powered by Renato - 2025</footer>

@RenderSection("scripts", false)

</body>