:root {
    --backgroud-color: #00030c;
    --main-white: #FFFFFF;
    --secondary-gray: #C0C0C0;
    --blue-button: #167BF7;
    --main-font: 'Inter';
    --blue-button-effect: #3c92fa;
}

body {
    background-color: var(--backgroud-color);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 1em;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.container_box {
    margin: 0 6em;
}

.container_title {
    font-size: 28px;
    font-weight: 700;
}

.main {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container_image {
    margin: 1em 0 2em 0;
}

.container_button {
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container_secondary_button {
    background-color: transparent;
    border: 2px solid var(--main-white);
}

.container_warning {
    font-size: 12px;
    color: var(--secondary-gray);
}

.secondary_container {
    align-items: center;
    margin: 0 10em;
}

.secondary_image {
    width: 80%;
}

.title_description {
    font-weight: 700;
    font-size: 48px;
    color: var(--main-white);
    margin-bottom: 0.1em;
}

.text_description {
    color: var(--secondary-gray);
}

.title_devices {
    font-size: 48px;
    color: var(--main-white)
}

.devices {
    text-align: center;
}

.list-devices {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.footer{
    text-align: center;
    margin: 5em 3em;
}

.options_footer {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.options_footer a {
    text-decoration: none;
    margin-left: 1em;
    color: var(--main-white)
}

@media screen and (max-width: 768px) {
    .container{
        background-image: none;
        display: block;
    }

    .container_image, .secondary_image{
        width: 50vw;
    }

    .container_box {
        margin: 2em 2em;
    }

    .secondary_container {
        margin: 0;
        text-align: center;
    }

    .list-devices, .options_footer {
        display: block;
    }
}
