@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <MudDrawer Anchor="Anchor.Left" Variant="DrawerVariant.Responsive" @bind-Open="_isDrawerOpened"></MudDrawer>
        <h1>Você tá autenticado</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Você não tá autenticado</h1>
    </NotAuthorized>
</AuthorizeView>


@code {

    private bool _isDrawerOpened = true;
    
    private void ToggleDrawer() 
        => _isDrawerOpened = !_isDrawerOpened;
}