@page "/products"
@using System.Globalization
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Context

<h1>Products</h1>

<a href="products/create" class="btn btn-primary"><i class="oi oi-plus"></i> Create </a>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Price</td>
    </tr>
    <tbody>
        @foreach (var _product in _products)
        {
            <tr>
                <td>@_product.Id</td>
                <td>@_product.Title</td>
                <td>@_product.Price.ToString("C", new CultureInfo("en-us"))</td>
                <td>
                    <a href="/products/edit/@_product.Id">Edit</a>
                    <a href="/products/delete/@_product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code{

    List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        _products = await Context
            .Products
            .AsNoTracking()
            .ToListAsync();
    }
}
